<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallback_market</key>
	<string>GS_GB</string>
	<key>must_upgrade</key>
	<false/>
	<key>markets</key>
	<array>
		<dict>
			<key>name</key>
			<string>GS_FR</string>
			<key>available_lang</key>
			<array>
				<string>fr</string>
			</array>
			<key>default_lang</key>
			<string>fr</string>
			<key>brand</key>
			<string>ROWENTA</string>
			<key>feature_ionizer</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GS_DE</string>
			<key>available_lang</key>
			<array>
				<string>de</string>
			</array>
			<key>default_lang</key>
			<string>de</string>
			<key>brand</key>
			<string>ROWENTA</string>
			<key>feature_ionizer</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GS_ES</string>
			<key>available_lang</key>
			<array>
				<string>es</string>
			</array>
			<key>default_lang</key>
			<string>es</string>
			<key>brand</key>
			<string>ROWENTA</string>
			<key>feature_ionizer</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GS_IT</string>
			<key>available_lang</key>
			<array>
				<string>it</string>
			</array>
			<key>default_lang</key>
			<string>it</string>
			<key>brand</key>
			<string>ROWENTA</string>
			<key>feature_ionizer</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GS_BE</string>
			<key>available_lang</key>
			<array>
				<string>nl</string>
				<string>fr</string>
			</array>
			<key>default_lang</key>
			<string>fr</string>
			<key>brand</key>
			<string>ROWENTA</string>
			<key>feature_ionizer</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GS_HK</string>
			<key>available_lang</key>
			<array>
				<string>en</string>
				<string>zh</string>
			</array>
			<key>default_lang</key>
			<string>en</string>
			<key>brand</key>
			<string>TEFAL</string>
			<key>feature_ionizer</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GS_SG</string>
			<key>available_lang</key>
			<array>
				<string>en</string>
			</array>
			<key>default_lang</key>
			<string>en</string>
			<key>brand</key>
			<string>TEFAL</string>
			<key>feature_ionizer</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GS_NL</string>
			<key>available_lang</key>
			<array>
				<string>nl</string>
			</array>
			<key>default_lang</key>
			<string>nl</string>
			<key>brand</key>
			<string>ROWENTA</string>
			<key>feature_ionizer</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GS_GB</string>
			<key>available_lang</key>
			<array>
				<string>en</string>
			</array>
			<key>default_lang</key>
			<string>en</string>
			<key>brand</key>
			<string>ROWENTA</string>
			<key>feature_ionizer</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GS_US</string>
			<key>available_lang</key>
			<array>
				<string>en</string>
			</array>
			<key>default_lang</key>
			<string>en</string>
			<key>brand</key>
			<string>ROWENTA</string>
			<key>feature_ionizer</key>
			<string>NO</string>
		</dict>
	</array>
</dict>
</plist>
